* {
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-color: #ffecd1;
}

.App {
  text-align: center;
  background-color: #ffecd1;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #001524;
  color: #ff7d00;
  padding: 1rem;
}

header img {
  max-width: 100px;
}

.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff7d00;
  color: #001524;
  border: solid #001524;
  border-radius: 1rem;
  padding: 2rem;
  width: 75%;
  margin: 1rem auto 1rem;
  text-align: center;
}

.home-screen img {
  max-width: 120%;
}

.navigation-menu {
  display: flex;
  justify-content: space-around;
  background-color: #15616d;
  color: #ffecd1;
  padding: 0.5rem;
  height: 2rem;
}

.navigation-link {
  color: #ffecd1;
}

.navigation-link:hover {
  background-color: #78290f;
  color: #ff7d00;
  transition: all 0.5s;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.review-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #78290f;
  margin: 0.5rem;
  color: #ff7d00;
}

.review-card:nth-child(review-card-buttons) {
  justify-self: flex-end;
}

.review-card img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: solid #ff7d00;
}

.review-card-buttons {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.9rem;
  text-align: center;
}

#review-card-preview {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
}

.category-link {
  color: #001524;
  padding: 0.25rem;
}

.category-link:hover {
  font-weight: bold;
}

.navigation-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.25rem;
  background-color: #ff7d00;
}

.navigation-sub p {
  width: 100%;
}

.full-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  background-color: #78290f;
  color: #ff7d00;
  margin: 0.5rem;
}

.full-review img {
  max-width: 80%;
  padding: 0.5rem;
  margin: auto;
}

.full-review p {
  margin: 0.25rem;
}

.full-review h2 {
  text-align: center;
}

.review-card-link {
  color: #78290f;
  padding: 0.25rem;
  margin: 0.1rem;
  background-color: #ffecd1;
  text-align: center;
}

.review-card-link:visited {
  color: #78290f;
  background-color: #ffecd1;
}

.review-card-link:hover {
  background-color: #001524;
  color: #ff7d00;
  transition: 0.5s;
}

.navigation-sub-buttons {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.9rem;
  text-align: center;
}

.navigation-review-full {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.25rem;
  background-color: #ff7d00;
}

.navigation-review-full button {
  padding: 0.25rem;
}

.voting {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vote-button {
  margin: 0.2rem;
  background-color: #001524;
}

#error-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: solid #ff7d00 6px;
  width: 80%;
  background-color: #001524;
  color: #ffecd1;
  text-align: center;
  margin: 2rem auto;
  padding: 2rem;
}

#error-page img {
  width: 100%;
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #15616d;
  margin: 0.5rem;
  color: #ffecd1;
}

.comment-card p {
  padding: 0.25rem;
}

.comment-sub-header {
  display: flex;
  justify-content: space-evenly;
}

.comment-sub-header button {
  padding: 0.1rem;
}

.comment-sub-header button,
h4 {
  margin: 0.5rem;
}

.comment-form {
  font-family: 'Chakra Petch', sans-serif;
  padding: 1rem;
}

.comment-form button {
  width: 4rem;
  padding: 0.1rem;
  margin: 1rem;
}

.comment-form textarea {
  margin: 0.5rem;
  width: 90%;
  height: 10rem;
  color: #15616d;
  resize: none;
}

.comment-form legend {
  color: #001524;
}

#char-count {
  color: #15616d;
}

#add-comment {
  color: #78290f;
  padding: 1.9rem;
}

@media (min-width: 600px) {
  .App {
    display: grid;
    grid-template-areas:
      '. header header .'
      '. nav main .';
    grid-template-columns: 10% 25% auto 10%;
    grid-template-rows: auto auto;
  }

  header {
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
  }

  .navigation-menu {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem;
    height: 10rem;
    width: 80%;
    margin: 1rem;
  }

  .navigation-link {
    padding: 0.25rem;
  }

  .home-screen {
    grid-area: main;
  }

  .home-screen img {
    margin: 2rem;
    width: 70%;
  }

  .navigation-sub {
    grid-area: main;
  }

  .main-grid {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
