* {
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
}

#root {
  background-color: #FFECD1;
}

.App {
  text-align: center;
  background-color: #865f28;
}

header {
  background-color: #001524;
  color: #FF7D00;
  padding: 1rem;
}

#home-screen {
  background-color: #FF7D00;
  color: #001524;
  border: solid #001524;
  border-radius: 1rem;
  padding: 2rem;
  width: 50%;
  margin: 1rem auto 1rem;
  text-align: center;
}

.navigation-menu {
  display: flex;
  justify-content: space-around;
  background-color: #15616D;
  color: #FFECD1;
  padding: 0.5rem;
  height: 2rem;
}

.navigation-link {
  color: #FFECD1;
}

.navigation-link:hover {
  background-color: #78290F;
  color: #FF7D00;
  transition: all 0.5s;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.review-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #78290F;
  margin: 0.5rem;
  color:#FF7D00;
}

.review-card img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  }

#review-card-buttons {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.9rem;
}

#review-card-preview {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
}